header
  .navigation
    .container
      a(class='navigation-title' href='/')
        h3(class='title') HubSpot JavaScript Sample File Upload

      ul(class='navigation-list float-right')
        li(class='navigation-item')
          a(class='navigation-link' href='/reset') Reset Links
        li(class='navigation-item')
          a(class='navigation-link' href='/login') Logout (OAuth2)
