extends includes/layout
block content
  .container
    h3(class="alert-not-shown-events") New webhooks are received.
      =' '
      a(href="#") Reload the page to see updates
    table
      thead
        tr
          th ContactID
          th Name
          th Events

      tbody
        each contact in contacts
          tr
            td #{contact.id}
            td #{contact.name}
            td
              each hookEvent in contact.events
                span(class=`event ${hookEvent}`) #{hookEvent}
                = ' '
