header
  .navigation
    .container
      a(class='navigation-title' href='/')
        h3(class='title') HubSpot JavaScript Form File Submission Sample

      ul(class='navigation-list float-right')
        li(class='navigation-item')
          a(class='navigation-link' href='/logout') Logout (OAuth2)
